@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  font-family: var(--kumbh);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  /* Font */
  --kumbh: 'Kumbh Sans', sans-serif;

  /* Text Color's */
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);

  /*Background Gradient Colors */
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);

  /* Another Text */
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);

  /* Dividers */
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    1deg,
    var(--softBlue) 20%,
    var(--softViolet)
  );
}

.main section {
  min-height: 500px;
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.4);
}
.side-img {
  overflow: hidden;
  height: 500px;
  width: 100%;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.side-img img:nth-child(1) {
  /* height: 500px; */
  position: relative;
  right: 570px;
  bottom: 300px;
}

.side-img img:nth-child(2) {
  position: relative;
  bottom: 890px;
  right: 80px;
}
.side-img img:nth-child(3) {
  position: fixed;
  top: 195px;
  right: 850px;
}
.side-img img:nth-child(4) {
  display: none;
}
.side-img img:nth-child(5) {
  display: none;
}
section .faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: var(--veryDarkDesaturatedBlue);
  padding: 20px 0;
}

.faq h1 {
  font-size: 32px;
  text-transform: uppercase;

  margin: 20px 0;
}

.faq ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 350px;
}

.faq ul li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.faq ul li .question {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0 0;
  align-items: center;
}
.faq ul li .question h3 {
  font-size: 15px;
  font-weight: 400;
  transition: all ease-in-out 0.35s;
}
.faq ul li.active .question h3 {
  font-weight: 700;
}

.faq ul li .question h3:hover {
  color: var(--softRed);
  transition: all ease-in-out 0.35s;
}

.faq ul li .question svg {
  transition: all ease-in-out 0.35s;
}

.faq ul li.active .question svg {
  transform: rotate(180deg);
}
.faq ul li .answer {
  max-height: 0;
  overflow: hidden;
  font-size: 12px;
  margin: 20px 0 10px 0;
  border-bottom: 0.4px ridge hsl(240, 5%, 91%);
  transition: all ease-in-out 0.35s;
}

.faq ul li.active .answer {
  max-height: 56px;
  transition: all ease-in-out 0.35s;
}
.faq ul li .answer p {
  margin-bottom: 10px;
}

@media screen and (max-width: 1060px) {
  .main {
    max-height: 1200px;
  }
  .main section {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 350px;
    height: 545px;
    padding: 20px;
    max-height: 100%;
  }
  .side-img img:nth-child(1),
  .side-img img:nth-child(2),
  .side-img img:nth-child(3) {
    display: none;
    transition: all ease-in-out 0.2s;
  }

  .side-img {
    overflow: visible;
  }
  .side-img img:nth-child(4) {
    display: block;
    position: relative;
    left: 35px;
    top: 190px;
  }
  .side-img img:nth-child(5) {
    position: relative;
    display: block;
    width: 250px;
    left: 30px;
    bottom: 30px;
    section .faq {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      color: var(--veryDarkDesaturatedBlue);
      padding: 20px 0;
    }
    section .faq {
      display: flex;
      align-items: center;
    }
    .faq h1 {
      font-size: 32px;
      text-transform: uppercase;

      margin: 20px 0;
      display: inline-block;
    }

    .faq ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      width: 350px;
    }

    .faq ul li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .faq ul li .question {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 0 0;
      align-items: center;
    }
    .faq ul li .question h3 {
      font-size: 15px;
      font-weight: 400;
      transition: all ease-in-out 0.35s;
    }
    .faq ul li.active .question h3 {
      font-weight: 700;
    }

    .faq ul li .question h3:hover {
      color: var(--softRed);
      transition: all ease-in-out 0.35s;
    }

    .faq ul li .question svg {
      transition: all ease-in-out 0.35s;
    }

    .faq ul li.active .question svg {
      transform: rotate(180deg);
    }
    .faq ul li .answer {
      max-height: 0;
      overflow: hidden;
      font-size: 12px;
      margin: 20px 0 10px 0;
      border-bottom: 0.4px ridge hsl(240, 5%, 91%);
      transition: all ease-in-out 0.35s;
    }

    .faq ul li.active .answer {
      max-height: 56px;
      transition: all ease-in-out 0.35s;
    }
    .faq ul li .answer p {
      margin-bottom: 10px;
    }
  }
}
